# 适用于 Lazarus 开发的 .gitignore
#
# 若不需要忽略，则在行首加井号(#)；否则，则删除行首的井号(#)。
# 若需要其它忽略规则，则在文末进行补充。

# 历史文件和自动备份文件
backup/
lib/
*.bak
*.~*
*.*~

# IDE 生成的本地文件
*.lps

# 中间编译文件
*.compiled
*.o
*.or
*.ppu
*.dbg

# 编译后的资源文件
*.res

# 编译后的可执行文件
*.exe
*.a
# Win
*.dll
# Linux
*.so
# Mac
*.dylib

# 日志
log/
logs/
*.log

# 自定义
bin/
